@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Behaus 93";
  src: url("/fonts/behaus93.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap
}

body {
}

* { @apply transition-colors; }

.font-heading { font-family: "Behaus 93", sans-serif; }

.button { @apply px-4 py-2 rounded-md; }
